<!DOCTYPE HTML>
<html>
    <head>
        <title>GeoTagger Server</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div style="text-align:center;margin-top:100px;font-family: 'Open Sans', sans-serif;">
            <h1><font color="#585858">Welcome to Great App !</font> </h1>
        <div>
        <!--
		<div style="text-align:center; margin-top:20px">
			<img src="{{ url_for('account.static', filename='img/login_title.png') }}">
		</div>
        -->
        <div style="text-align:center;margin-top:30px">
            <a href="/account/login" style="font-family:'Open Sans',sans-serif;text-decoration:none">
                <font color="#084B8A">Sign In</font>
            </a>    
        </div>
                
    </body>
</html>