<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

{% include '_head.html' %}

<body>
    {% include '_header.html' %}
    
    <div class="row">
        <div class="span10 offset2">
            
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert-message block-message error">
              <a class="close" href="#">×</a>
              <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
              </ul>
            </div>
            {% endif %}
            {% endwith %}
            
            
            <div id="wrapper">
                {% from "_formhelpers.html" import render_field %}
                {% if error %}
                {{ error }}<br/><br/>
                {% endif %}
                <form method="post" action="{{ url_for('.change_password') }}">
                    <fieldset>
                    {{ form.csrf_token }}    
                    <legend>Change Password</legend>
                    {{ render_field(form.old_password) }}
                    {{ render_field(form.new_password) }}
                    {{ render_field(form.confirm) }}
                    <p>
                        <span style="margin-right:40px;">
                            <input class="btn btn-primary" type="submit" value="Change">
                        </span>
                        <span>
                            <a href="{{ url_for('.list_projects')}}">Cancel</a>
                        </span>
                    </p>
                    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>

